.parent{
    background: white;
    padding: 20px 0px 20px 20px;
    width:100px;
    border-radius:15px;
    display:flex;

}

.parent[data-isOpen="true"] {
    padding: 20px 81px 20px 20px;
    display:flex;
    flex-direction:flex-start;
    justify-content: center;
    align-items:center;
    gap:24px;
    width:354px;
  }

.wa{
    background: white;
    padding: 20px 0px 20px 20px;
    width:100px;
    border-radius:15px;
    display:flex;
}
.wa[wa-isOpen="true"]{
    padding: 20px 81px 20px 20px;
    display:flex;
    flex-direction:flex-start;
    justify-content: center;
    align-items:center;
    gap:24px;
    width:354px;
}


.display{
    display:none;
}
.display[display-isOpen="true"]{
    display:block;
}

@keyframes about {
  0%,100% {
    width: 15%;
    transform-origin: left;
    transform: scaleX(1);
  }
  50% {
    width: 15%;
    transform: scaleX(7);
  }
  80% {
    width: 15%; 
    transform: scaleX(8);
  }
}


.animateabout {
  animation: about 2s linear infinite; 
}